{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rubber Duckies</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header class="navbar-fixed">
      <nav id="nav">
        <div class="nav-wrapper yellow lighten-1">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;Duckie List</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="/about">About</a></li>
            <li><a href="/duckies">Duckies</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
        <!-- this is a django language template tag -->
        {% block content %} 
        {% endblock %}
    </main>
    <footer class="page-footer yellow lighten-1">
      <div class="right">
        All Rights Reserved, &copy; 2022 T.Fore Dev &nbsp;
      </div>
    </footer>
  </body>
</html>