{% extends 'base.html' %}

{% block content %}

<h1>Duck Detail</h1>



<div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ duck.name }}</span>
                    <p>Year Made: {{ duck.year }}</p>
                    <p> Value: {{ duck.price }}</p>
                    <p>Description: {{duck.description }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'ducks_update' duck.id %}">Edit</a>
                    <a href="{% url 'ducks_delete' duck.id %}">Delete</a>
                </div>
            </div>
            <!-- add the photo card here -->
        </div>
        </div>

     <div class="col s6">
        <form action="{% url 'add_location' duck.id %}" method="POST">
            {% csrf_token %}
            {{ display_form.as_p }}
            <input type="submit" value="Add Location" class="btn blue">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for location in cat.location_set.all %}
                    <tr>
                        <td>{{ location.date }}</td>
                        <td>{{ location.get_location_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>


<hr>

<div class="row">
    <div class="col s6">
        <h3>{{ duck.name }}'s Accessories</h3>
        {% if duck.accessories.count %}
            {% for accessorie in duck.accessories.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A <span class="{{ accessorie.color.lower }}-text">{{ accessorie.color }}</span> {{ accessorie.name }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>{{ duck.name }} has no accessories at this time </h6>
        {% endif %}
    </div>
    
    <div class="col s6">
        <h3>Available Accessories</h3>
        {% if accessories.count %}
            {% for accessorie in accessories %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A <span class="{{ accessorie.color.lower}}-text">{{ accessorie.name }}</span>
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_access' accessorie.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn green">Add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
             <h6>{{ duck.name }} already has all accessories available</h6>
        {% endif %}

    </div>



</div>



    
{% endblock %}