{% extends 'base.html' %}

{% block content %}

<h1>Duck Detail</h1>


    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ duck.name }}</span>
            <p>Year Made: {{ duck.year }} </p>
            <p>Description: {{cat.description}}</p>
            <p>Price: {{duck.price}}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'cats_update' cat.id %}">Edit</a>
            <a href="{% url 'cats_delete' cat.id %}">Delete</a>
        </div>
    </div>
    
{% endblock %}